# TerraForm
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.tfstate.lock.info
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets / lokale værdier (TerraForm)
*.auto.tfvars
terraform.tfvars

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor / IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
logs/

.venv

.obsidian/workspace.json
.obsidian/app.json